* {
  margin: 0;
  padding: 0;
}

/* body {
            background-image: url("https://i.pinimg.com/564x/7c/74/3e/7c743e50953710d53ba3d6ed3c42752a.jpg");

            min-height: 380px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        } */

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container h1 {
  margin: 16px;
  padding: 32px 16px;
  font-size: 100px;
  color: #6c62ff;
}

.formlogin {
  display: flex;
  flex-direction: column;
}

#username,
#password,
#button {
  margin: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  font-size: 30px;
  outline: none;
  padding: 4px;
}

#username,
#password {
  border-bottom: 1px solid;
  padding-bottom: 16px;
  border-color: #6c62ff;
}
#username::placeholder,
#password::placeholder {
  color: #6c62ff;
  opacity: 0.5;
}

.anotherlogin {
  display: flex;
  margin: 32px;
}

.a-login {
  margin: 0 16px;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
  background-color: #6c62ff;
}
