* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "inter", "sans-serif" !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}
p,
span,
div {
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
